@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #004d7a;
    --secondary: #AADCF8;
    --accent: #ffc20f;
    --accent2: #34b63d;
    --black: #000000;
    --wbg: #ffffff;
    --padding: 12px;
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Abril Fatface', cursive;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--wbg);
    font-size: 20px;
}

button {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-primary {
    background-color: var(--accent2);
    color: var(--wbg);
}

.button-secondary {
    background-color: var(--primary);
    color: var(--wbg);
}


.cta {
    background-color: #34b63d;
    font-size: 22px;
    font-weight: bold;
    border-radius: 2px;
}

.cta:hover {
    border-radius: 4px;
    background-color: #34b63d5d;
    transition: 500ms;
}


/* hero continues here */
.hero-section {
    background-color: #aadbf8;
    background-image: url(./images/allbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px;
}

.bigtitle {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.othertxt {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mrglft {
    margin-left: 40px;
}