:root {
    --primary: #004d7a;
    --secondary: #AADCF8;
    --accent: #ffc20f;
    --accent2: #34b63d;
    --black: #000000;
    --wbg: #ffffff;
}

.sidelogo>a {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    color: var(--wbg);
}

.sidelogo span {
    font-size: 1.5rem;
    color: var(--accent2);
}

.sidelogo>a:hover {
    color: var(--secondary);
}

.flextop {
    display: flex;
    /* border: red solid 1px; */
    align-items: center;
    justify-content: space-between;
}
.sidebar {
    background-color: var(--primary);
    width: 28%;
    font-size: 24px;
    padding: 0px 20px;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0px;
    animation: slideInFromLeft 2s forwards;
}

@keyframes closeOutFromLeft {
    0% {
        left: 0;
    }

    100% {
        left: -50%;
    }
}

@keyframes slideInFromLeft {
    0% {
        left: -50%;
    }

    100% {
        left: 0;
    }
}

.sidebar a {
    /* width: 100%; */
    display: block;
}

.sidecontent {
    /* border: #ffffff solid 1px; */
    padding: 10px 5px;
    margin: 15px 0px;
    color: var(--wbg);
    font-weight: 500;
}

.sidecontent:hover {
    background-color: var(--accent2);
    font-size: bolder;
}

.activeside {
    background-color: var(--accent2);
}

#close {
    font-size: 30px;
    font-weight: bolder;
    text-align: right;
    padding-right: 5px;
    margin-bottom: 30px;
}

a span {
    color: var(--wbg);
}

.menupen {
    margin-left: 40px;
}

.menupen {
    position: fixed;
    top: 100px;
}

b {
    font-size: 36px;
    color: var(--accent2);
    cursor: pointer;
}


.salutation {
    text-align: center;
    margin: 50px 0px;
}

.notifications {
    background-color: var(--secondary);
    margin: 0 auto 100px auto;
    width: 70%;
    padding: 20px 50px;
    border-radius: 5px;
}

.notitems li {
    margin-bottom: 8px;
}

.notitems li a {
    color: var(--accent2);
}

.notitle {
    text-align: center;
    margin-bottom: 30px;
}

.container-not {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.notBox {
    background-color: var(--secondary);
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
}

.notBox img {
    border: 2px solid var(--primary);
    border-radius: 50%;
    height: 120px;
}

.notBox-title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}

.realcontent {
    margin-bottom: 30px;
    color: var(--primary);
    font-weight: bolder;
}

.center button:hover {
    background-color: var(--primary);
    color: white;
}

.discalimer {
    margin: 100px 50px 50px 50px;
    font-size: 14px;
}

.discalimer a {
    color: red;
}


/* user page */

.boxucont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.boxu span {
    font-size: 120px;
    font-weight: bolder;
    border: 12px solid var(--secondary);
    border-radius: 50%;
    padding: 0px 45px;
    cursor: pointer;
}

.boxu {
    border: var(--primary) 6px solid;
    padding: 50px 140px;
}

.boxu:hover span{
    color: var(--primary);
    border-color: var(--accent2);
}

/* tables */

#tables, .tables {
    width: 90%;
    margin: 0 auto 180px auto;
    border-collapse: collapse;
}

#tables td,
#tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tables tr:hover {
    background-color: #ddd;
}

#tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--accent2);
    color: white;
}

.found {
    color: var(--accent2);
}

.notfound {
    color: red;
}


td a {
    color: var(--accent2);
}

.headings{
    padding-bottom: 50px;
    text-align: center;
}

/* forms */
.userdetails {
    padding: 0px 50px;
    margin-bottom: 100px;
}


.userform {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--secondary);
}

.divform7 {
    grid-column: 1 / span 2;
    text-align: center;
    /* width: 50%; */
}


label {
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 7px;
    /* text-align: left; */
}

form {
    padding: 30px;
    /* text-align: center; */
    /* border: 1px red solid; */
}

input,
textarea,
select {
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--primary);
    border-radius: 3px;
    font-size: 20px;
}

input[readonly] {
        background-color: #ddd;
}

input:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
}

input[type="password"] {
    font-family: monospace;
}

input[type="submit"] {
    width: 50%;
    cursor: pointer;
    margin-top: 20px;
}

input [type="email"] {
    text-transform: lowercase;
}

input[type="submit"]:hover {
    background-color: var(--primary);
    color: var(--wbg);
}